<h1>A Propos</h1>
<p>
	<a href="http://railstutorial.org"> Tuto pour Ruby On Rails</a>
	est un projet de livre et de screencasts pour apprendre le développement
	web avec <a href="http://rubyonrails.org"> Ruby On Rails </a>
	Ceci est la premiere application du tutoriel.
</p>
