<h1>App_exemple</h1>
<p>
	Ceci est la page d'accueil de l'appli exemple du
	<a href="http://railstutorial.org"> Tuto pour Ruby On Rails</a>
</p>

<%= link_to "S'inscrire", '#', :class => "signup_button round" %>
